---
import { getGhostClient } from '@/utils';

export async function getStaticPaths() {
  const url = import.meta.env.GHOST_CONTENT_API_URL ?? Astro.locals.runtime?.env.GHOST_CONTENT_API_URL;
  const key = import.meta.env.GHOST_CONTENT_API_KEY ?? Astro.locals.runtime?.env.GHOST_CONTENT_API_KEY;
  const ghostClient = getGhostClient(url, key);

  const posts = await ghostClient.posts
    .browse({ limit: 'all' })
    .catch((err) => console.error(err));

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{post.title}</title>
  </head>
  <body>
    <h1>{post.title}</h1>
    <Fragment set:html={post.html} />
  </body>
</html>
