---
import { getGhostClient } from '@/utils';

const url = import.meta.env.GHOST_CONTENT_API_URL ?? Astro.locals.runtime?.env.GHOST_CONTENT_API_URL;
const key = import.meta.env.GHOST_CONTENT_API_KEY ?? Astro.locals.runtime?.env.GHOST_CONTENT_API_KEY;
const ghostClient = getGhostClient(url, key);

const posts = await ghostClient.posts
  .browse({ limit: 'all' })
  .catch((err) => console.error(err));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
	    <meta name="generator" content={Astro.generator} />
		<title>Astro & Ghost</title>
	</head>
	<body>
    {
      posts.map((post) => (
        <a href={`/post/${post.slug}`}>
           <h1> {post.title} </h1>
        </a>
      ))
    }
	</body>
</html>
